{% set jpdoc = "doc/html" %}

{% extends "base.twig" %}
{% block title %}TOPページ{% endblock %}
{% block content %}
<h1>　Silex ユーザーガイド</h1>
<p>　PHPマイクロフレームワークである Silex のまとめサイト</p>
<p style="font-size: 10px; color: red;">【注意】$app->share()を使うのが 1.1で 使わないのが 2.0です。日本語のドキュメントは master を追随しているため share の記述がない2.0のバージョンのドキュメントになります。正しいサンプルコードは各バージョンの英語のドキュメントを参照してください
  <br>
  この違いはPimpleのバージョンの違いによるものです。詳しくは <a href="http://iakio.hatenablog.com/entry/2014/02/13/233610">iakioさんの Pimple 2.0がリリースされたのでPimpleについて復習してみる</a> がとてもわかり易いです。
</p>
<table cellpadding="0" cellspacing="10" border="0" width="100%">
<tr>
<td valign="top" width="25%">

<h3>基本情報</h3>
<ul>
	<li><a href="http://silex.sensiolabs.org/">Silex 公式サイト</a></li>
	<li><a href="https://github.com/silexphp/Silex/tree/1.1/doc">Silex ドキュメント 1.1 (英語)</a></li>
	<li><a href="http://silex.sensiolabs.org/documentation">Silex ドキュメント 1.2 (英語)</a></li>
	<li>
	  <a href="{{jpdoc}}">Silex ドキュメント 2.0 (日本語)</a>
	</li>
</ul>

<h3>Silexのバージョンの注意</h3>
<p>Pimple のバージョンに注意</p>
  <ul>
    <li><a href="http://iakio.hatenablog.com/entry/2014/02/13/233610">Pimple 2.0がリリースされたのでPimpleについて復習してみる</a></li>
    <li><a href="https://github.com/fabpot/Pimple/tree/1.1">Pimple 1.1 ドキュメント</a></li>
    <li><a href="http://pimple.sensiolabs.org/">Pimple 2 ドキュメント</a></li>
  </ul>

<h3>公式ドキュメント</h3>
<ul>
	<li><a href="{{jpdoc}}/intro.html"> Silex って何？</a></li>
	<li><a href="{{jpdoc}}/usage.html"> 使い方</a></li>
	<li><a href="{{jpdoc}}/middlewares.html"> ミドルウェア</a></li>
	<li><a href="{{jpdoc}}/organizing_controllers.html"> コントローラーの組織化</a></li>
	<li><a href="{{jpdoc}}/services.html"> サービス</a></li>
	<li><a href="{{jpdoc}}/providers.html"> プロバイダー</a></li>
	<li><a href="{{jpdoc}}/testing.html"> テスト</a></li>
	<li><a href="{{jpdoc}}/cookbook/index.html"> クックブック</a></li>
	<li><a href="{{jpdoc}}/internals.html"> 内部の仕組み</a></li>
	<li><a href="{{jpdoc}}/web_servers.html"> ウェブサーバーの設定</a></li>
	<li><a href="{{jpdoc}}/providers/index.html"> 標準のプロバイダー一覧</a></li>
</ul>

<h3>ダウンロード</h3>
<ul>
	<li><a href="http://silex.sensiolabs.org/download"> ダウンロードとインストール (composer, .zip or .tgz)</a></li>
	<li><a href="https://github.com/silexphp/Silex">silexphp/Silex (github)</a></li>
</ul>

<h3> silex.pharが動作しない場合</h3>
<h5 style="color:red"> 現在の Silex は phar で配布されていません。composerまたはアーカイブからのインストールが推奨です</h5>
<ul>
	<li><a href="{{jpdoc}}/usage.html#php"> PHPの設定(公式ドキュメント)</a></li>
	<li><a href="http://groups.google.com/group/symfony-users-ja/browse_thread/thread/aa92681ee68f7fa8"> Suhosin適用済みのPHPでSilexを動かすと真っ白なページが返される場合の対処法 </a></li>
	<li><a href="http://d.hatena.ne.jp/brtRiver/20101029/1288342181"> Pharは便利だけど `--enalbe-zend-multibyte`が有効だと文字化けしてしまう</a></li>

</ul>



</td>
<td valign="top" width="25%">

<h3>使い方</h3>
<ul>
    {% set base = "/usage.html#" %}
    <li><a href="{{jpdoc}}{{base}}bootstrap"> Silexの読み込み処理と.htaccess</a></li>
    <li><a href="{{jpdoc}}{{base}}routing"> ルーティングの書き方</a></li>
    <li><a href="{{jpdoc}}{{base}}route-variables"> ルーティングから変数を取得</a></li>
    <li><a href="{{jpdoc}}{{base}}named-routes"> ルーティングに名前をつける</a></li>
    <li>
      <ul>
      <li><a href="{{jpdoc}}/middlewares.html#before-middleware"> 前処理ミドルウェア(before)</a></li>
      <li><a href="{{jpdoc}}/middlewares.html#after-middleware"> 後処理ミドルウェア(after)</a></li>
      <li><a href="{{jpdoc}}/middlewares.html#finish-middleware"> 完了ミドルウェア(finish)</a></li>
      </ul>
    </li>
    <li><a href="{{jpdoc}}{{base}}error-handlers"> エラーハンドリング</a></li>
    <li><a href="{{jpdoc}}{{base}}redirects"> リダイレクト処理</a></li>
    <li><a href="{{jpdoc}}{{base}}escaping"> エスケープ処理(XSS対策)</a></li>
    <li><a href="{{jpdoc}}/organizing_controllers.html"> コントローラーのグループ化</a></li>
    {% set base = "/services.html#" %}
    <li><a href="{{jpdoc}}{{base}}id2"> サービスコンテナ Pimple</a></li>
    <li><a href="{{jpdoc}}{{base}}parameters"> サービスコンテナに変数をセット(define)</a></li>
    <li><a href="{{jpdoc}}{{base}}service-definitions"> サービスの定義(遅延読み込み)</a></li>
    <li><a href="{{jpdoc}}{{base}}protected-closures"> パラメータとしてクロージャを保存(Protected closures)</a></li>
    <li><a href="{{jpdoc}}{{base}}core-services"> パラメータにアクセス(Request サービス)</a></li>
    {% set base = "/providers.html#" %}
    <li><a href="{{jpdoc}}{{base}}loading-extensions"> プロバイダーの読み込み</a></li>
    <li><a href="{{jpdoc}}{{base}}id3"> プロバイダーの作成</a></li>
    <li><a href="{{jpdoc}}{{base}}controllers-providers"> コントローラープロバイダーの作成</a></li>
    {% set base = "/testing.html#" %}
    <li><a href="{{jpdoc}}{{base}}id2"> PHPUnit</a></li>
    <li><a href="{{jpdoc}}{{base}}web"> Webテストケース</a></li>
    {% set base = "/internals.html#" %}
    <li><a href="{{jpdoc}}{{base}}symfony2"> Silex が利用している Symfony2 のコンポーネント</a></li>

</ul>
<h3>
    よく使うメソッド
</h3>
<ul>
    {% set base = "/usage.html#" %}
    <li><a href="{{jpdoc}}{{base}}get-example-get-route"> $app->get()</a></li>
    <li><a href="{{jpdoc}}{{base}}post-example-post-route"> $app->post()</a></li>
    <li><a href="{{jpdoc}}{{base}}other-methods"> $app->put(), $app->delete()</a></li>
    <li><a href="{{jpdoc}}{{base}}other-methods"> $app->match() ..他</a></li>
    <li><a href="{{jpdoc}}{{base}}route-variables-converters"> $app->convert()</a></li>
    <li><a href="{{jpdoc}}{{base}}requirements"> $app->assert()</a></li>
    <li><a href="{{jpdoc}}{{base}}default-values"> $app->value()</a></li>
    <li><a href="{{jpdoc}}{{base}}named-routes"> $app->bind()</a></li>
    <li><a href="{{jpdoc}}/middlewares.html#before-middleware"> $app->before()</a></li>
    <li><a href="{{jpdoc}}/middlewares.html#after-middleware"> $app->after()</a></li>
    <li><a href="{{jpdoc}}/middlewares.html#finish-middleware"> $app->finish()</a></li>
    <li><a href="{{jpdoc}}{{base}}error-handlers"> $app->error()</a></li>
    <li><a href="{{jpdoc}}{{base}}redirects"> $app->redirect()</a></li>
    <li><a href="{{jpdoc}}{{base}}forwards"> $app->forwards()</a></li>
    <li><a href="{{jpdoc}}{{base}}json"> $app->json()</a></li>
    <li><a href="{{jpdoc}}{{base}}streaming"> $app->stream()</a></li>
    <li><a href="{{jpdoc}}{{base}}sending-a-file"> $app->sendFile()</a></li>
    <li><a href="{{jpdoc}}{{base}}traits"> トレイト(>= PHP5.4)</a></li>
    {% set base = "/services.html#" %}
    <li><a href="{{jpdoc}}{{base}}id3"> クロージャをコンテナに追加 </a></li>
    <li><a href="{{jpdoc}}{{base}}protected-closures"> $app->protect()</a></li>
    <li><a href="{{jpdoc}}{{base}}core-services"> $app['request']->get()</a></li>
</ul>
</td>
<td valign="top" width="25%">

<h3>プロバイダー(旧エクステンション)</h3>
<ul>
	<li><a href="{{jpdoc}}/providers.html"> プロバイダーの仕組み</a></li>
    {% set base = "/providers/" %}
    <li><a href="{{jpdoc}}{{base}}doctrine.html"> DoctrineServiceProvider(データベースアクセス)</a></li>
    <li><a href="{{jpdoc}}{{base}}monolog.html"> MonologServiceProvider(ロガー)</a></li>
    <li><a href="{{jpdoc}}{{base}}session.html"> SessionServiceProvider(セッション)</a></li>
    <li><a href="{{jpdoc}}{{base}}swiftmailer.html"> SwiftmailerProvider(メール送信)</a></li>
    <li><a href="{{jpdoc}}{{base}}translation.html"> TranslationServiceProvider(国際化)</a></li>
    <li><a href="{{jpdoc}}{{base}}twig.html"> TwigServiceProvider(テンプレート)</a></li>
    <li><a href="{{jpdoc}}{{base}}url_generator.html"> UrlGeneratorServiceProvider(ルーティング)</a></li>
    <li><a href="{{jpdoc}}{{base}}form.html"> FormServiceProvider(フォーム)</a></li>
    <li><a href="{{jpdoc}}{{base}}http_cache.html"> HttpCacheServiceProvider(キャッシュ)</a></li>
    <li><a href="{{jpdoc}}{{base}}http_fragment.html"> HttpFragmentServiceProvider(HTML断片化)</a></li>
    <li><a href="{{jpdoc}}{{base}}security.html"> SecurityServiceProvider(セキュリティ)</a></li>
    <li><a href="{{jpdoc}}{{base}}serialize.html"> SecurityServiceProvider(シリアライズ)</a></li>
    <li><a href="{{jpdoc}}{{base}}remember_me.html"> RememberMeServiceProvider(認証)</a></li>
    <li><a href="{{jpdoc}}{{base}}validator.html"> validatorServiceProvider(バリデーター)</a></li>
</ul>
<ul>
    <li><a href="https://github.com/silexphp/Silex/wiki/Third-Party-ServiceProviders"> 公式サイトにまとめられたサードパーティ製プロバイダー一覧</a></li>
    <p>以下は 非公式プロバイダー</p>
    <li><a href="https://github.com/flintstones/Rest"> RestExtension</a></li>
    <li><a href="https://github.com/brtriver/PHPTALServiceProvider"> PHPTALServiceProvider</a></li>
    <li><a href="https://github.com/FractalizeR/Silex/compare/SmartyExtension"> SmartyExtension</a></li>
    <li><a href="https://github.com/flintstones/DoctrineOrm"> DoctrineOrmExtension</a></li>
    <li><a href="https://github.com/docteurklein/SilexExtensions"> DoctrineOrmExtension(その2)</a></li>
    <li><a href="https://github.com/awildeep/Silex-DoctrineMultiDbExtension"> DoctrineMultiDb</a></li>
    <li><a href="https://github.com/madiedinro/MongoExtension"> MongoExtension</a></li>
    <li><a href="https://github.com/RafalFilipek/ActiveRecordExtension"> ActiveRecordExtension</a></li>
    <li><a href="https://github.com/nrk/PredisExtension"> PredisExtension</a></li>
    <li><a href="https://github.com/redpanda/silex-gravatar"> GravatarExtension</a></li>
    <li><a href="https://github.com/heavenshell/php-silex-zf-validate">ValidateExtension(Zend_Validate)</a></li>
    <li><a href="https://github.com/heavenshell/php-silex-zf-db">DbExtension(Zend_Db)</a></li>
    <li><p><a href="https://github.com/fate/Silex-Extensions">Silex-Extensions (@hahaitsfate)</a></p></li>
    <p>
        以下のプロバイダーを含む
    </p>

    <ul>
        <li>AsseticExtension</li>
        <li>EmbedlyExtension</li>
        <li>GravatarExtension</li>
        <li>MandangoExtension</li>
        <li>MarkdownExtension</li>
        <li>MemcacheExtension</li>
        <li>MongoDbExtension</li>
        <li>PredisExtension</li>
    </ul>
</ul>

</td>
<td valign="top" width="25%">

  <h3>Cookbook</h3>
    {% set base = "/cookbook/" %}
<ul>
  <li><a href="{{jpdoc}}{{base}}assets.html">テンプレートでのアセット管理</a></li>
  <li><a href="{{jpdoc}}{{base}}error_handler.html">エラーを例外に変換する方法</a></li>
  <li><a href="{{jpdoc}}{{base}}form_no_csrf.html">FormExtensionを使用したフォームのCSRF保護の無効化</a></li>
  <li><a href="{{jpdoc}}{{base}}json_request_body.html">JSON リクエストの受け入れ</a></li>
  <li><a href="{{jpdoc}}{{base}}translating_validation_messages.html">バリデーションメッセージの翻訳</a></li>
  <li><a href="{{jpdoc}}{{base}}session_storage.html">PdoSessionStorageを使ったデータベース上でのセッションの保存</a></li>
  <li><a href="{{jpdoc}}{{base}}validator_yaml.html">YAMLを使用してバリデーションを設定</a></li>
  <li><a href="{{jpdoc}}{{base}}sub_requests.html">サブリクエストの作成</a></li>
  <li><a href="{{jpdoc}}{{base}}multiple_loggers.html">複数のモノログの使用</a></li>
</ul>

<h3>サンプル</h3>
<ul>
	<li><a href="https://github.com/77web/my-silex-examples">サンプルコード色々 (@77web)</a></li>
	<li><a href="https://github.com/igorw/silex-examples">エクステンションのサンプルコード (@igorwesome)</a></li>
	<li><a href="https://github.com/brtriver/MameForm">問い合わせフォーム(MameForm)</a></li>
	<li><a href="https://github.com/uechoco/MameForm">問い合わせフォームα(@uechoco)</a></li>
	<li><a href="https://github.com/lyrixx/Silex-Kitchen-Edition">Silex Kitchen Edition (フル装備)</a></li>
</ul>


<h3>より理解するために</h3>
<ul>
    <li><a href="http://php.net/manual/ja/index.php">PHP マニュアル TOP</a></li>
    <li><a href="http://www.php.net/manual/ja/language.namespaces.php">PHP マニュアル 名前空間</a></li>
    <li><a href="http://www.php.net/manual/ja/functions.anonymous.php">PHP マニュアル 無名関数</a></li>
    <li><a href="http://jp2.php.net/manual/ja/intro.phar.php">PHP マニュアル phar</a></li>
    <li><a href="http://pimple-project.org/">Pimple (DI)</a></li>
	<li><a href="http://symfony.com/doc/current/book/index.html"> Symfony2ドキュメント</a><a href="http://docs.symfony.gr.jp/symfony2/">(日本語)</a></li>
	<li><a href="http://www.twig-project.org/documentation"> Twigドキュメント</a><a href="https://github.com/masakielastic/twig-ja">(日本語)</a></li>
</ul>

<h3>API リファレンス</h3>
<ul>
    <p>Silex API</p>
    <li><a href="http://silex.sensiolabs.org/api/index.html">Silex の APIドキュメント</a></li>
    <p>Symfony2 Component</p>
    <li><a href="http://api.symfony.com/2.0/Symfony/Component/ClassLoader.html">ClassLoader</a></li>
    <li><a href="http://api.symfony.com/2.0/Symfony/Component/HttpFoundation.html">HttpFoundation</a></li>
    <li><a href="http://api.symfony.com/2.0/Symfony/Component/HttpKernel.html">HttpKernel</a></li>
    <li><a href="http://api.symfony.com/2.0/Symfony/Component/Routing.html">Routing</a></li>
    <li><a href="http://api.symfony.com/2.0/Symfony/Component/EventDispatcher.html">EventDispatcher</a></li>
</ul>

<h3>Google グループ</h3>
<ul>
    <li><a href="http://groups.google.com/group/silex-php">Silex PHP Microframework (公式)</a></li>
    <li><a href="http://groups.google.com/group/silex-ja">Silex ja (日本語)</a></li>
</ul>

</td>
</tr>
</table>
{% endblock %}
